* {
	background-color: #faf4f7;
 }
body {
	background-color: #faf4f7;
	font-family: "Coming Soon";
	margin: 30px;
	margin-top: 30px;
}

.grid {
	display:grid;
	grid-template-columns: 0.6fr 0.2fr 0.5fr ;
	grid-template-rows:0.3fr 0.7fr 1fr;
	grid-gap: 10px;
	justify-content: center;
	height: 100%;
}

.image {
	width: 330px;
	height: 470px;
	margin-left: 145px;
	margin-top: 30px;
	margin-bottom: 20px;
	border: 3px solid #d1beef;
	border-radius: 2px;
}

.main-header {
	grid-column: 2 / -1;	
	margin-top: 24px;
	font-size: 36px;
}

.cd-text {
	color: #6a679a; 
	margin-left: 180px;
}

.blink {
	animation: blink 1s ease-in-out infinite;
	opacity: 1;
	
}

@keyframes blink {
	0% {
	opacity: 1;
	}
	50% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

.image-box {
	grid-row: 1 / 4;
	padding-top: 14px;
	padding-left: 24px;
}

.links {
	padding-left: 5px;
	font-size: 15px;;
	justify-content: center;
}

.links > .links-header {
	font-size: 1.9em;
	padding-left: 90px;
	padding-bottom: 0px;
	padding-top: 07px;
	padding-right: 60px;
	margin-right: 50px;
}

.links > div {

	font-size: 1.5em;
	font-weight: 600;
	margin-right: 90px;
	justify-content: center;
	padding-top: 10px;/* padding b/w links*/
	padding-left: 95px;
}

.links > div:nth-child(2) {
	padding-top: 20px;
}

.links > div > a {
	font-size: 17px;
	color: #6a679a;
	text-decoration: none;
}

.links-header {
	color: #6a679a;
}
.links > div > a:visited {
	color: #544c59;
	text-decoration: none;
}

.links > div > a:hover {
	color: #f8928a;
	text-decoration: none;
}

.links-b > div {
	padding-bottom:0px;
	padding-left: 30px;
}

.links-d > div {
	padding-left: 30px;
}

.links-c > .links-header {
	padding-top: 0px;
}

.links-d > .links-header {
	padding-top: 0px;
}

#header2 {
	padding-left: 30px;
}	

#header4 {
	padding-left: 30px;
}
