* {
	background-color: #212332;
 }
body {
	background-color: #212332;
	font-size: 20px;
	font-family: "Source Sans Pro";
	margin: 30px;
	margin-top: 30px;
}

.grid {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	justify-content: center;
	height: 100%;
}

.image {
	width: 380px;
	height: 540px;
	margin-left: 85px;
	margin-top: 00px;
	margin-bottom: 20px;
	border: 3px solid #8f8676;
	border-radius: 2px;
}

.main-header {
	grid-column: 2 / -1;	
	padding-left: 20px;
	font-size: 36px;
}

.cd-text {
	color: #f8e9ba; 
	padding-left: 190px;
	padding-top: 90px;
}

.blink {
	animation: blink 1s ease-in-out infinite;
	opacity: 1;
	
}

@keyframes blink {
	0% {
	opacity: 1;
	}
	50% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

.image-box {
	grid-row: 1 / 4;
	padding-top: 14px;
	padding-left: 24px;
}

.links {
	padding-left: 5px;
	font-size: 15px;;
	justify-content: center;
}

.links > .links-header {
	font-size: 1.9em;
	padding-left: 130px;
	padding-bottom: 0px;
	padding-top: 07px;
	padding-right: 60px;
}

.links > div {
	justify-content: center;
	padding-top: 10px;
	padding-left: 130px;
}

.links > div:nth-child(2) {
	padding-top: 20px;
}

.links > div:last-child {
	padding-bottom: 00px;
}

.links > div > a {
	font-size: 17px;
	color: #f8e9ba;
	text-decoration: none;
}

.links-header {
	color: #fffcd5;
}
.links > div > a:visited {
	color: #544c59;
	text-decoration: none;
}

.links > div > a:hover {
	color: #fcdddd;
	text-decoration: none;
}

.links-b > div {
	padding-bottom:0px;
	padding-left: 0px;
}

.links-d > div {
	padding-left: 0px;
}

.links-c > .links-header {
	padding-top: 0px;
}

.links-d > .links-header {
	padding-top: 0px;
}

#header2 {
	padding-left: 0px;
}	

#header4 {
	padding-left: 0px;
}
